@{
    ViewBag.Title = "Friendly Matches";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
  <div class="row">
    <ul class="w3-navbar w3-black">
      <div class="col-xs-6">
        <li style="width:100%;height:100%;"><a href="javascript:void(0)" class="tablink w3-red" onclick="openTab(event, 'fTabItem', 'Scores');">Scores</a></li>
      </div>

      <div class="col-xs-6">
        <li style="width:100%;height:100%;"><a href="javascript:void(0)" class="tablink" onclick="openTab(event, 'fTabItem', 'Reports');">Reports</a></li>
      </div>
    </ul>

    <div id="Scores" class="w3-container w3-border fTabItem" style="display:block">
      <br />
      @Html.Partial("~/Views/Home/FriendlyMatches.cshtml")
    </div>

    <div id="Reports" class="w3-container w3-border fTabItem">
      <br />
      @Html.Partial("~/Views/Home/FriendlyReports.cshtml")
    </div>
  </div>




  <div class="col-sm-12" style="visibility:collapse;">
    <ul style="list-style-type: none;overflow:hidden">
      <li style="float:left"><a type="button" href="#/FriendlyMatches" class="btn btn-info">Scores</a></li>
      <li style="float:left"><a type="button" href="#/FriendlyMatchesReport" class="btn btn-info">Reports</a></li>
    </ul>
      @*<ul class="nav navbar-nav navbar-right">
    <li>
      <button type="button" data-toggle="modal" ng-click="newFrScore = []" data-target="#addScoreModal" class="btn btn-warning">
        Add Score</button>
    </li>
  </ul>*@
  </div>
</div>
  
  