<!--<div class="container" ng-controller="fReportController">
  <br />

  <table class="table table-striped" border="1" style="width:auto;">
    <thead>
      <tr>
        <th>Sl #</th>
        <th>Name</th>
        <th>Played</th>
        <th>Won #</th>
        <th>Won %</th>
        <th>Draw #</th>
        <th>Draw %</th>
        <th>Lost #</th>
        <th>Lost %</th>
        <th>Goals Shot</th>
        <th>Goals Faced</th>
        <th>GPM</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="rpt in reports">
        <td>{{rpt.PlayerId}}</td>
        <td>{{rpt.PlayerName}}</td>
        <td>{{rpt.Played}}</td>
        <td>{{rpt.Won}}</td>
        <td>{{rpt.WinPc}}</td>
        <td>{{rpt.Draw}}</td>
        <td>{{rpt.DrawPc}}</td>
        <td>{{rpt.Lost}}</td>
        <td>{{rpt.LostPc}}</td>
        <td>{{rpt.GoalShot}}</td>
        <td>{{rpt.GoalFaced}}</td>
        <td>{{rpt.PointsPerMatch}}</td>
      </tr>
    </tbody>

  </table>
</div>-->